<div class="container text-success pt-4">
    <form>
        <!--First Row-->
        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="date" name="name" class="form-control" id="name" placeholder="dob">
                    <label for="name">Date of Birth</label>
                </div>
            </div>
            <div class="col-md-4">
                <label for="gender">Select Gender</label> <br />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="m">
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="f">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
        </div>
        <!--Second Row-->

        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" name="bmi" class="form-control" id="bmi" placeholder="BMI">
                    <label for="bmi">BMI</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" name="weight" class="form-control" id="weight" placeholder="Weight">
                    <label for="weight">Weight</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" name="stamina" class="form-control" id="stamina" placeholder="Stamina">
                    <label for="stamina">Stamina</label>
                </div>
            </div>
        </div>

        <div class="row mb-1 mt-2">
            <div class="col-md">
                <img src="../../assets/Picture2.png" class="img-fluid" class="sport" />
            </div>
            <div class="col-md">
                <img src="../../assets/Picture3.png" class="img-fluid" class="sport" />
            </div>
            <div class="col-md">
                <img src="../../assets/Picture5.png" class="img-fluid" class="sport" />
            </div>
            <div class="col-md">
                <img src="../../assets/Picture6.png" class="img-fluid" class="sport" />
            </div>
            <div class="col-md">
                <img src="../../assets/Picture7.png" class="img-fluid" class="sport" />
            </div>
            <div class="col-md">
                <img src="../../assets/Picture8.png" class="img-fluid" class="sport" />
            </div>
            <div class="col-md">
                <img src="../../assets/Picture9.png" class="img-fluid" class="sport" />
            </div>
            <div class="col-md">
                <img src="../../assets/Picture10.png" class="img-fluid" class="sport" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>