 <!-- start of services section -->
 <section class="services">
    <div class="container text-center py-5">
        <h1> About our services</h1>
        <div class="row">
            <div class="col-md-4">
                <!-- first column -->
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-bar-chart my-icon"></i>
                        <h1>Best Explanation</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur dolor sequi
                            repellendus distinctio est fugit aspernatur, quae porro. Totam corrupti doloremque
                            aut
                            recusandae et.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- second column -->
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-bell my-icon"></i>
                        <h1>Best Explanation</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur dolor sequi
                            repellendus distinctio est fugit aspernatur, quae porro. Totam corrupti doloremque
                            aut
                            recusandae et.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <!-- third column -->
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-braille my-icon"></i>
                        <h1>Best Explanation</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In pariatur dolor sequi
                            repellendus distinctio est fugit aspernatur, quae porro. Totam corrupti doloremque
                            aut
                            recusandae et.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of services section -->