<section class="container people py-5">
    <h3 class="pb-3 text-center"> What people says about Sports !!</h3>
 
        <owl-carousel [options]="customOptions"  [carouselClasses]="['owl-theme', 'sliding']" > 
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3>Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3>Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center m-0">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Person" class="img-fluid rounded-circle mx-auto pt-1" style="max-width: 150px;">
            <div class="card-body">
                <h3> Chandan</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe et perferendis quis
                    dolore natus explicabo impedit, quod earum dolorem?</p>
                <div class="container">
                    <button class="btn btn-primary">
                        More..
                    </button>
                </div>
            </div>
        </div>

    </owl-carousel>

</section>





<!--  -->