<header class="header-section">
   <app-navbar></app-navbar>
   <app-header></app-header>
</header>

<section class="message-section">
   <app-message></app-message>
</section>

<section class="service-section">
   <app-service></app-service>
</section>

<section class="report-section">
   <app-report></app-report>
</section>

<section class="banner-section">
   <app-banner></app-banner>
</section>

<section class="team-section">
   <app-team></app-team>
</section>

<section class="footer-section">
   <app-footer></app-footer>
</section>