<section class="contact py-5">
    <div class="container text-center">
        <h1>Let's Get In touch</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit ex aperiam, ea deleniti, error tempora
            modi odio molestiae ipsa dolore optio veritatis nesciunt eum laudantium omnis ad totam possimus delectus
            assumenda, sapiente sit. Ex accusantium, blanditiis accusamus veritatis exercitationem omnis.</p>
        <i class="fa fa-phone my-icon text-warning"></i>
        <i class="fa fa-heart my-icon text-danger"></i>        
        <p>www.accenture.com</p>
    </div>
</section>